@use "./mainTheme.module.scss" as main;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.main {

  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 75px;

  &__txt {
    padding: 5px;
    margin: 0;
    background-image: main.$gradientGreen;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__link {

    position: absolute;
    right: 25px;
    cursor: pointer;
  }

}