@use "./mainTheme.module.scss" as main;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.main {

  position: sticky;
  top: 0;
  width: 100vw;
  height: 75px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  border-bottom: 2px solid gray;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0.633);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  &__txt {
    padding: 5px;
    margin: 0;
    background-image: main.$gradientGreen;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__link {

    position: absolute;
    right: 25px;
    cursor: pointer;
  }

}