@use "./mainTheme.module.scss" as main;

.main {
  @include main.mainTheme;
  display: flex;
  justify-content: center;


  &__inputGroup {
    @include main.glassyDiv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 20px 20px;

  }

  &__btn {
    background-color: main.$green5;
  }
}