@use "../styles/mainTheme.module.scss" as main;

.itemWanted {
  background: main.$gradientPink;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.itemOffered {
  background: main.$gradientGreen;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}