@use "./mainTheme.module.scss" as main;

.main {
  @include main.mainTheme;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;

}

.headerButton {
  position: absolute;
  background: main.$gradientPink;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 10px 0 10px;
  left: 10px;
}